<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="datasource.properties"></properties>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<package name="com.book.entity"/>
	</typeAliases>
	<environments default="mysql_dev">
		<environment id="mysql_dev">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${data.driver}"/>
				<property name="url" value="${data.url}"/>
				<property name="username" value="${data.username}"/>
				<property name="password" value="${data.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="com.book.dao"/>
	</mappers>
</configuration>